#logo {
  background-color: red;
  float: left;
}
header h1 {
  font-family: 'Pacifico', cursive;
}
header p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  letter-spacing: -1px;
  margin-left: 40px;
  
}
#AppsUpTop {
  float: right;
    
}
header div {
  background-image: url("img/hr-img.png");
  background-repeat: repeat;
}

body {
  margin-right: 15%;
  margin-left: 15%;
}
body main h2 {
  font-family: 'Anton', sans-serif;
  font-size: 2.3vw;
}

#desserts {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

#pizza-img {
  width:auto;

}

.para-three {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  width: 900px;
}
  